[2017-02-10 05:23] Dateranoth opened #1 "Create Better Method for Checking INI"
[master](/Dateranoth/ConanExilesServerUtility/tree/master/src/ConanServerUtility)

Need to create better code for handling INI updates. Currently I'm manually updating the section comparison and using a functions to compare the number that I put in the code to the number in the existing INI.

This has many flaws, including that it does not look for missing variables, only sections.

`	Local $iniAr

[2017-02-10 05:27] Dateranoth opened #2 "No check for log file existing before checking modified date"
[AddLogRotate](/Dateranoth/ConanExilesServerUtility/tree/AddLogRotate/src/ConanServerUtility)
Need to write log file before running check in case it does not exist on first run.

`If ($logRotate = "yes") And ((_DateDiff('h', $logStartTime, _NowCalc())) >= 1) Then
	Local $logFileTime = FileGetTime($logFile,1)
	Local $logTimeSinceCreation = _DateDiff('h', $logFileTime[0] &"/"& $logFileTime[1] &"/"&

[2017-02-10 11:42] Dateranoth opened #3 "Update and Log Rotate Last Time Variables Wrong"
The variables that are updated after running checks to see if it's time to rotate the logs or update are wrong.

They are pointing to _NowCalc instead of _NowCalc() so they both only run once after the script starts.

[2017-02-10 22:22] #2 closed, assigned to Dateranoth

[2017-02-10 22:22] #3 closed, assigned to Dateranoth

[2017-02-10 23:10] Bealze opened #5 "Add set server name"
can you add set server name please

[2017-02-11 00:15] Dateranoth commented on #5
This was added with commit cd6720e
It is compiled with the latest Release https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/2.6

[2017-02-11 00:15] #5 closed, assigned to Dateranoth

[2017-02-11 05:02] Mannot74 opened #7 "Where is the exe file ?"
Hello, Sorry but where is the exe file ?

[2017-02-11 05:21] Dateranoth commented on #7
It's in the zip included with the latest release. https://gmcd.me/conanutilrelease

Choose either 64 bit or 32 bit. Latest full releases will always be at the above link.

On Feb 11, 2017, at 12:02 AM, Mannot74 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello, Sorry but where is the exe file ?

—
You are receiving this because you are subscribed to this thread.
Reply to th

[2017-02-11 05:25] Dateranoth commented on #7
https://github.com/Dateranoth/ConanExilesServerUtility/releases/latest

That contains the latest compiled release.

[2017-02-11 05:25] #7 closed, assigned to nobody

[2017-02-11 21:12] chrisraiden opened #8 "Crash after some time"
I get a AutoIT Error
Line: 7553
The requested action with this object has failed

This error comes after some time .. after press OK .. it ask me to shutdown the server with yes/no

My Config File
[Use MULTIHOME to Bind IP? Disable if having connection issues (yes/no)]
BindIP=yes
[Game Server IP]
ListenIP=X.X.X.X.X
[Game Server Port]
GamePort=7777
[Steam Query Port]
QueryPort=27015
[Server Name]
S

[2017-02-12 01:56] Dateranoth commented on #8
Been in contact and we believe we have found the issue. Not directly related to the code, but I am adding some additional checks just to make it a bit less likely to crash.

[2017-02-12 04:13] #1 closed, assigned to Dateranoth

[2017-02-12 04:13] #8 closed, assigned to Dateranoth

[2017-02-12 08:09] Bealze opened #10 "new version"
never starts serve rand just opens validates then restarts over and over

[2017-02-12 08:39] Dateranoth commented on #10
@bealas1pt0 could you provide more details? Are you running the latest release? Can you strip out the personal information and post your INI and log file?

[2017-02-12 08:45] Bealze commented on #10
without validate. [steamcmd.exe +@ShutdownOnFailedCommand 1 +@NoPromptForPassword 1 +login anonymous +force_install_dir C:\Users\Administrator\Desktop\stremcmd\conan +app_update 443030 +quit]
2017/02/12 02:13:28 [One Barbarian To Rule Them All (PID: 0)] - Update Check Starting. Will Log if Update Found.
2017/02/12 02:13:28 [One Barbarian To Rule Them All (PID: 0)] Started [ConanSandboxServer-Win64

[2017-02-12 16:35] Dateranoth commented on #10
Is there anything else in the log after what you posted? It looks like it is not generating a PID for you, but I don't know why. It should immediately generate one when it starts. Which may mean the game is crashing immediately. Have you checked the game logs?

`2017/02/12 02:13:28 [One Barbarian To Rule Them All (PID: 0)] `

[2017-02-12 17:12] #10 closed, assigned to nobody

[2017-02-12 17:16] Dateranoth commented on #10
Latest release fixes problem:
I somehow deleted a space in V2.7 when using MULTIHOME command.

https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/2.7.1

[2017-02-12 18:14] Bealze commented on #10
confirmed fix

On Sun, Feb 12, 2017 at 12:16 PM, Dateranoth <notifications@github.com>
wrote:

--
[image: Havens Hosting] <https://havenshosting.com/index.php>

[2017-02-13 02:43] RustyXXL opened #11 "Suggestion: Multiple restart Passwords, to distinguish who triggered a restart"
We talked in steam about it. ;)

[2017-02-13 11:22] Dateranoth opened #12 "Logs Rotating Every Hour Regardless of setting."
Logs are rotating once per hour and ignoring time setting.

[2017-02-13 15:07] Dateranoth commented on #12
Found the issue to be with the file date. By default windows caches create dates for x amount of seconds for "safe save" reasons. Need to add FileSetTime function after new log is created.

[2017-02-13 18:53] #12 closed, assigned to Dateranoth

[2017-02-14 01:17] Dateranoth opened #14 "Daily Restart Broken"
Daily restart is not working on either branch.  Believe the issue is with new time loop.

[2017-02-14 01:29] #14 closed, assigned to Dateranoth

[2017-02-14 11:57] Dateranoth commented on #11
@RustyXXL

I thought about how to implement this and I had this idea. It would be an easy implementation.

You could enter multiple passwords in this format:
user1_pass1,user2_pass2 etc.

Each password would be separated by a comma and the user part would be optional. The remote user would enter the entire string ( user1_pass1 ) . Any of the user_pass combinations would restart the server, and if

[2017-02-14 12:08] RustyXXL commented on #11
Well, technically speaking you might be able to add escaping, if you really want to be able to use those characters. Depends on the string manipulation capabilities of autoit. ;)
ie:
[code]

But I don't think that it would really be a problem, and having to explain the escaping additionally to the format of the user/password list might simply make it not worth it. In the end kiss: keep it simple,

[2017-02-14 12:21] Dateranoth commented on #11
It would be possible to add escaping or just use two characters to define the break. But, in this case I am going to have to agree with KISS.

[2017-02-14 15:23] Dateranoth commented on #11
@RustyXXL
I have released a beta with the features we discussed. I have not pulled it to master yet or had time to fully test  it.
https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/2.8.5-beta

[2017-02-14 22:22] Dateranoth opened #16 "White Space at end of Bot URL can Cause Invalid Token"
Need to remove any white space that might have been left in the INI to prevent an Invalid Token response from Discord. Probably best to eventually remove white space from any setting in INI

[2017-02-15 02:31] RustyXXL opened #17 "Wordpress Integration/message via http for restart messages."
similar to the Discord integration...Nebelbank would like to show the restarts on their Homepage.

[2017-02-15 02:55] RustyXXL commented on #11
We are using the 2.8.5 beta, and everythign we tested so far seems to work. We still aren't using Discord, so no feedback there, but we have 5 or 6 restart users, and it worked so far.
I think this can be closed for now.

[2017-02-15 03:43] #11 closed, assigned to Dateranoth

[2017-02-15 03:55] Dateranoth commented on #17
I'll have to look into this one. I haven't used Wordpress in a while. Does it use API keys or username/pass?

[2017-02-15 03:57] Dateranoth opened #19 "Add Chat Twitch Notifications"
Add Chat Notifications for Twitch before server restarts. Similar to Discord, except with multiple channels.

[2017-02-15 16:53] Dateranoth opened #20 "Discord Bot Does Not work with TTS off"
When DiscordBotUseTTS=no the message does not get sent to the server.

I missed a check. For now it must be set to DiscordBotUseTTS=False to work properly.

[2017-02-15 18:33] Dateranoth opened #21 "Server Update Not working"
RSS Title changed again. I'm going to have to change the way I parse the header or just switch to using Steam. Would be ultimately more accurate, instead of relying on an RSS feed title to be correct.

[2017-02-16 04:14] #20 closed, assigned to Dateranoth

[2017-02-16 18:58] Mannot74 opened #22 "Two servers, one of the two with the script, bug?"
**Infos** :
Two servers, first PVP and second PVE on OVH dedicated server with windows server 2012.

I tried your script **only** on the **PVE** server, to test.

I only use "ConanServerUtility.exe" and I do not use the "ConanServerRemoteRestart (x64)" script.

I use the script only on the PVE server, but I still renamed "ConanServerUtility.exe" to "UpdatePVEv2.8.6.1" (Because I would like to run

[2017-02-16 19:53] Dateranoth commented on #22
If you have two servers running you must shut them both down and start them one at a time the first time you use the script. It will then save the server information to know which is which.

So, in your case. Stop both servers, let the script start your PVE server. Then open your pvp server.

Please be aware that I have not tested this running one with the script and one without.

If you have furt

[2017-02-16 20:09] Dateranoth commented on #22
Also, if the problem continues, could you paste the ConanServerUtility.log here?

On Feb 16, 2017, at 1:58 PM, Mannot74 <notifications@github.com<mailto:notifications@github.com>> wrote:

Infos:
Two servers, first PVP and second PVE on OVH dedicated server with windows server 2012.

I tried your script only on the pve server, to test.

I only use "ConanServerUtility.exe" and I do not use the "Cona

[2017-02-17 04:35] Mannot74 commented on #22
[ConanServerUtility.log.txt](https://github.com/Dateranoth/ConanExilesServerUtility/files/782313/ConanServerUtility.log.txt)

Sorry for my bad english.. :)

To answer you, I already tried to stop both servers, then start the server "PVE" with the script and then launch the "PVP" server, and you already know what happened during The update ..

But I have the impression that the shutdown of the serv

[2017-02-17 11:13] Dateranoth commented on #22
Ok. That makes more sense that it was just coincidence. V2.8.6 was not updating properly. V2.8.6.1 should have fixed it, but there hasn't been an update since I released it I don't think.

It was a quick fix so it will say Update released today in the log even when there isn't one because of how I changed it.

[2017-02-17 11:18] Dateranoth commented on #22
And to answer your other question, yes it uses PID # and window handles to avoid closing the wrong server. Should be almost impossible unless you started both of them with the script at exactly the same time.

[2017-02-17 17:35] #21 closed, assigned to Dateranoth

[2017-02-17 22:54] #19 closed, assigned to Dateranoth

[2017-02-18 06:22] Mannot74 commented on #22
hello ;)

An update has been made, the "PVE" server has automatically updated without any problems.

I set up the script on the server "PVP" and I wait for the next update to confirm if all goes well :)

If I can thank with a small donation ?

Also, I imagine you will set up an automatic reboot message during an update?

[2017-02-18 14:09] Dateranoth commented on #22
Glad it's working for you!

For now, the latest version can notify multiple Twitch channels or a Discord channel. When they release rcon or add console access I will add direct messages in game. Currently that's not possible.

No donation necessary, but if you wish.

donations@gamercide.org

[2017-02-18 15:15] Dateranoth commented on #16
I tried to reproduce this problem, but it seems the IniRead function is already stripping white space at the end.  Closing. Will reopen if further issues are reported.

[2017-02-18 15:15] #16 closed, assigned to Dateranoth

[2017-02-18 22:51] Mannot74 commented on #22
Unfortunately, there was an update tonight at 10.30 PM, the server "PVE" and the server "PVP" did not detect update and did not restart .. I post here the different files.

 I renamed for you all file with PVE and PVP in the beginning in txt for post here

[PVE file ConanServerUtility.ini.txt](https://github.com/Dateranoth/ConanExilesServerUtility/files/785388/PVE.file.ConanServerUtility.ini.txt)

[2017-02-18 23:01] Dateranoth commented on #22
Yeah, I see the problem. They used HOTFIX instead of PATCH. This pretty much sums up that the RSS feed is going to be continuously unreliable. I started on a different method, and I will release it tonight.
Sorry for the trouble.

[2017-02-18 23:13] Dateranoth opened #24 "RSS Feed for Update Unreliable"
The RSS feed has continuously proven to be unreliable to use for update checks.  Switch to method using SteamCMD to check for latest version.

[2017-02-18 23:14] Dateranoth commented on #24
I started on the code earlier today. It should be ready tonight.

[2017-02-18 23:15] Dateranoth commented on #22
I created a new issue for this. #24 . I will work hard to have this fixed tonight.

[2017-02-18 23:17] Mannot74 commented on #22
Only thing that changes between the two scripts are the server ports, and the ports of the script, and yes I have booted both servers since the script has a different time. sorry for bad english if you need more Information ask me :)

[2017-02-18 23:20] Mannot74 commented on #22
And i use SteamCMD with the script, you can see with my files ?

[2017-02-18 23:20] Dateranoth commented on #22
It's nothing on your end. It's just my script and how it checks. Thanks for keeping me informed. The new method will work every time, but it will need to be able to write to your SteamCMD dir.

[2017-02-18 23:22] Mannot74 commented on #22
and ok good work for tonight ! Keep me informed :)

[2017-02-19 01:22] #24 closed, assigned to Dateranoth

[2017-02-19 01:44] Dateranoth commented on #22
@Mannot74 The latest release is out, and I tested it before release. This version uses steamCMD to check for updates.  If you are going to run multiple servers I suggest one of two things. Make sure that you start the scripts a minute or two apart or use two different SteamCMD folders. This is because they will both be using SteamCMD to check for updates, and it will likely create problems if they

[2017-02-19 01:45] Bealze opened #26 "steam bot request"
not sure why no one ask for this instead of twitch and discord but steam bot support  since everyone uses steam to play the game a group chat with the bot would seem better than spamming stream and voip chats

[2017-02-19 02:06] Mannot74 commented on #22
@Dateranoth
Question: we did already use steamCMD with these parameters with the old script v2.8.6.1 ?

[Use SteamCMD To Update Server? yes/no]
UseSteamCMD=yes
[SteamCMD Directory. NO TRAILING SLASH]
steamcmddir=C:\SteamCMD

And yes i know that i need to run script a minute or two apart, that's what i did.
i will put one steamcmd folder by server folder.

the new script is ConanServerUtility_x64_v

[2017-02-19 02:29] Dateranoth commented on #22
Yes. The script has been using SteamCMD to update the server, but not to check for the update. Now it does.

I'm currently updating to a version that will make sure SteamCMD is not being used by another server just to be safe.

[2017-02-19 02:32] Dateranoth commented on #26
I will look into it. I'm not familiar with Steam API at all, but it might be possible.

[2017-02-19 02:53] Mannot74 commented on #22
thank you for the answer.
I executed the new script, with a steamCMD folder per server folder.
I will keep you informed at the time of the next update.

And can you detail these parameters please ?

[Excessive Memory Amount?]
ExMem=6000000000
[Restart On Excessive Memory Use? yes/no]
ExMemRestart=yes
[Running Server with Steam Open? (yes/no)]
SteamFix=no

[2017-02-19 03:25] Dateranoth commented on #22
@Mannot74
Excessive Memory Amount allows you to Log when the memory exceeds a certain amount. So if you set `ExMem=4000000000`
The Script will write the memory usage to the ConanServerUtility.log every 5 minutes whenever the server uses more than 4GB of memory.

If you set
[code]
The Script will RESTART the server when it uses more than 4GB of memory.

`SteamFix=yes` Automatically closes two error

[2017-02-19 03:56] Mannot74 commented on #22
ok thanks

[2017-02-19 04:08] Mannot74 commented on #22
And i renamed "ConanServerUtility_x64_v2.9" to "ConanServerUtility_x64_v2.9PVE" and "ConanServerUtility_x64_v2.9PVP"

[2017-02-19 04:13] Dateranoth commented on #22
Should work for you. As long as they are in different directories you won't have an issue. I mainly rename them so I can tell icons apart.  I released 2.9.1 a bit ago. No need to update if you are using different SteamCMD directories. It just adds a small check just in case someone is using the same directory.

Let me know how it goes.

[2017-02-19 04:19] Mannot74 commented on #22
Ok, Yes I'll tell you how it goes next Conan update.

[2017-02-19 05:22] Dateranoth commented on #26
@beals1pt0
So, I've been looking into this, and it seems Steam did not make any real easy way to access chat. No open API or anything of the sort, and there is an SDK, but it seems to require developer keys to do most of what needs to be done.

Which leaves the only real alternative, and that's a Node.js module.
https://github.com/Steam-Chat-Bot/node-steam-chat-bot

I don't mind adding a call from

[2017-02-19 05:32] Bealze commented on #26
hm one bot i use for steam only required me to create an account that was
it now i don't know what they did in the back end its tied into
https://restream.io/chat?dashboard=1

On Sun, Feb 19, 2017 at 12:22 AM, Dateranoth <notifications@github.com>
wrote:

--
[image: Havens Hosting] <https://havenshosting.com/index.php>

[2017-02-19 06:09] Dateranoth commented on #26
They may have a developer account or using something like the one I linked did.

Ideally, I need to be able to make a call to a script or API, but I could call another program.

I will take a look at the site you linked and see if it's easier to interface with. Either way, this is likely going to require an application to be called from my script. I don't think I'm going to be able to directly do

[2017-02-19 15:38] AndreasWeste opened #27 "The procedure entry point could not be located"
Hello, i get a messagebox from the ConanServer exe, when i start the server utility. it pops up **two** times and blocks the start of the server. Tested on two different systems: win10 and win server 2008. steam client is running in the background:

https://dl.dropboxusercontent.com/u/6588653/conenserverproblem.png

my config:
[Use MULTIHOME to Bind IP? Disable if having connection issues (yes/no)

[2017-02-19 16:38] Dateranoth commented on #27
@hmmhAndreas
`SteamFix=yes` should automatically close those windows.  Could you post your log?

[2017-02-19 16:52] Dateranoth commented on #26
@beals1pt0
I don't see anything on that site related to Steam Chat. Am I missing something?

[2017-02-19 17:38] Bealze commented on #26
that chat app has a steam bot login in it https://restream.io/chat

On Sun, Feb 19, 2017 at 11:52 AM, Dateranoth <notifications@github.com>
wrote:

--
[image: Havens Hosting] <https://havenshosting.com/index.php>

[2017-02-19 17:43] Dateranoth commented on #26
Ok. I was looking for something on the page. I'll download the app and check it out.

[2017-02-19 18:11] AndreasWeste commented on #27
Thank you. Interestingly, after restarting everything i cannot reproduce the problem anymore, the error messages are closing properly. I will inform you if the problem comes back. Here is my log anyway:

2017/02/19 12:59:27 Log Files Rotated
2017/02/19 13:03:22 [Bandis Testserver - Do what you want (PID: 8380)] Update Check Starting.
2017/02/19 13:03:31 [Bandis Testserver - Do what you want (PID:

[2017-02-19 18:27] Dateranoth commented on #27
Maybe the INI configuration hadn't been pulled in. Hard to say. Glad it's working. Going to close this for now.

[2017-02-19 18:27] #27 closed, assigned to nobody

[2017-02-19 20:58] Dateranoth commented on #26
@beals1pt0
I can't get the application to install on my machine for some reason.  Anyhow, this looks to be outside what I'm capable of doing with this script. However, I can offer an alternative if you are interested. Considering no matter what, this is going to require something out side of my script to work.  You could leave the steam client running on your Server with the group chat window open

[2017-02-19 22:36] Bealze commented on #26
na dont worry about i can wait for rcon support then all this will not be
needed thank you for your time

On Sun, Feb 19, 2017 at 3:58 PM, Dateranoth <notifications@github.com>
wrote:

--
[image: Havens Hosting] <https://havenshosting.com/index.php>

[2017-02-19 22:42] Dateranoth commented on #26
Sorry I couldn't help. Too bad steam doesn't make an easier way to post to groups.

Like you said though, it's Rcon support for the game that we really need.

[2017-02-19 22:42] #26 closed, assigned to Dateranoth

[2017-02-21 14:21] Mannot74 commented on #22
hello, server PVP and PVE  has automatically updated without any problems. :)

[2017-02-21 15:32] Dateranoth commented on #22
Great! Thanks for letting me know it worked. I'm closing this now. Feel free to open a new issue if anything else comes up.

[2017-02-21 15:32] #22 closed, assigned to Dateranoth

[2017-03-06 14:26] Dateranoth opened #31 "Request - Add More Menu Items"
Request to add options to icon

* Start Server
* Stop Server
* Restart Server

Also, prevent two of the same utilities running at once.

[2017-03-06 14:27] Dateranoth opened #32 "Request - Language Options"
Add Option to Change Discord and Twitch Message so custom languages can be used.

[2017-03-15 11:44] Mannot74 opened #33 "broadcast messages"
Hello !

New patch note with :

Added ability for server admin to broadcast messages to players on the server

i don't know how to use it, but perhaps you can use it for broadcast restart server / update / update mod ?

[2017-03-16 02:50] Dateranoth commented on #33
I looked and it appears to be an in game option. If you hear of a way to do it from outside the game let me know, and I will implement it.

[2017-03-16 13:52] Mannot74 commented on #33
Ok thanks !

[2017-05-25 16:25] gabrielluis516 opened #34 "ModList"
Lots of issues using the mod update feature. It doesn't seem to be putting them in the order I specified and further, when I try rearranging the order in both the utility config ini and the modlist.txt, it seems to either overwrite it or ignore what I changed in the ini.

[2017-05-25 16:34] gabrielluis516 commented on #34
To add to this, in the ini file I currently have my modlist as "880454836,880177231,884956403"

Yet, it places mod 884956403 (ExpandedReligions.pak) at the top of the list!

[2017-05-25 16:35] Dateranoth commented on #34
I will look into it, but off the top of my head I don't think it respects order. It does overwrite the mod list file. I will see what needs to be done to respect order.

[2017-05-25 16:43] gabrielluis516 commented on #34
Oooh, quick response! Thank you :)

I had thought you were mostly finished with this project. How does it determine which order to put them in?

[2017-05-25 18:09] Dateranoth commented on #34
I am mostly done, but I do try to fix bugs.  I had to look, but it appears it should be alphabetically. The mods are listed by number, but Conan mod list wants the actual file name. To get that I am parsing the directory and adding the names I find to the list.

I doubt I will be able to easily correct this, but I could make overwriting mod list optional. So you would have to update it manually.

[2017-06-02 23:26] #17 closed, assigned to Dateranoth

[2017-06-02 23:27] #33 closed, assigned to nobody

[2017-06-02 23:44] Dateranoth commented on #34
If you need to set the mod order, the easiest option looks to be to modify the modlist.txt then set it to read only. That should prevent my script from overwriting the file if you wish to set a particular order.  You will have to manually update the modlist when you add new mods.

[2017-06-05 02:55] gabrielluis516 opened #35 "Not clicking past Steam .dll popups"
I have not yet found a consistent reason for this yet. my VM has been running for days without any changes to settings or programs running and sometimes on a server restart it will click through them just fine and others it won't and my server won't be restarted. This is creating an issue for players on my server, as sometimes the server will be down for hours before I realize what's happened.

An

[2017-06-05 03:36] Dateranoth commented on #35
It's possible that the pop ups are taking longer than normal to show up ( I only wait 5 seconds each) Or possibly they are a different window title?  It should have "Entry Point Not Found" in the title.

If you are running on a VM and don't need steam running in the background then the simple solution is to close steam while the server is running and the pop ups won't show up.

Otherwise the only

[2017-06-06 04:58] Dateranoth commented on #34
I have a plan for this that should work. It will require manual update to a file containing modIDs to mod files names the first time you run it if you're already using the script. I should be able to have it pushed out this weekend.

[2017-06-07 01:53] Dateranoth commented on #34
There is a pre-release ready for beta testing. Best to try on a non production server.
https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/2.13.0-beta.1

[2017-06-07 01:57] Dateranoth commented on #35
Going to close unless you report further trouble. If you think the delay needs to be longer I can push it before the final release of the next update.

[2017-06-07 01:57] #35 closed, assigned to nobody

[2017-06-07 01:58] Dateranoth commented on #32
Not going to have time to add this.

[2017-06-07 01:58] #32 closed, assigned to Dateranoth

[2017-06-07 02:02] Dateranoth commented on #31
Closing this for now. Outside of the time I have available to implement at the moment.

[2017-06-07 02:02] #31 closed, assigned to Dateranoth

[2017-06-28 22:32] #34 closed, assigned to Dateranoth

[2017-06-28 22:37] Dateranoth commented on #34
https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/2.15.0
The above release solves this problem.

[2018-05-09 13:49] Serph91P opened #39 "Server not showing up"
Hello did everything you said in the instructions but the server is not showing up in the server browser.
as far as i know you dont have to set the Server name etc in the server startup anymore?

[2018-05-09 16:07] smooreace commented on #39
This utility has nothing to do with connectivity. You either configured the server wrong or didnt manage ports properly

[2018-05-10 13:02] Serph91P commented on #39
hi i used the same config file is used before i used this utility. i realy dont know why its not working properly. well it is working but the server is not showing up.

[2018-05-10 15:15] Dateranoth commented on #39
smooreace is correct. The utility would not directly cause it to show or not show in the server browser.

The only option I can think of being a problem is the multihome option. Off it will bind to all IPs. On it will bind to the IP you set in the INI. I would try it off first. If that doesn’t work set it to ON and make sure the IP you entered is your computers IP address and not 127.0.0.1

If you

[2018-05-11 09:30] Serph91P commented on #39
Hey,

got it working thanks guys. the multihome thingy did the trick ;)

[2018-05-11 10:19] Dateranoth commented on #39
Awesome! Glad I could help. Let me know if you have any other problems with the Utility.

[2018-05-11 10:19] #39 closed, assigned to nobody

[2018-05-11 14:09] Serph91P commented on #39
The Multihome thingy was the culprit thank you :)

[2018-05-18 06:22] Sixxgunz opened #41 "I wasnt sure how to message you"
Took me a while to figure out the config file, but I love this tool.  I normally just use a batch file to handle server crashes, but have never had a stable way of auto restarts but since rcon came out and you already had discord built in and the remote restart option, this will be great, my admins are dying for this to kick in so they dont have to worry about restarts and logging in for announcem

[2018-05-18 09:57] Dateranoth commented on #41
I don’t mind putting in the option to execute an external batch file before the steamcmd is ran or the server is started. I will program it to wait for the batch to finish executing. So any delay after your scripts run can be added by delaying the close of the batch file.

[2018-05-18 13:29] Sixxgunz commented on #41
you're awesome thanks!

[2018-05-18 17:02] Doorstop2 opened #42 "Server not downloading latest update"
it was some weird bug where it kept making a folder in an old dir and only updating that server not the one i had set in the cfg dir

[2018-05-18 17:29] Doorstop2 commented on #42
its seems to be using the wrong id to update the game the proper one is 440900

[2018-05-18 17:29] #42 closed, assigned to nobody

[2018-05-18 23:17] Dateranoth commented on #42
Strange. Glad you got it sorted.

[2018-05-19 00:06] Sixxgunz commented on #41
As an afterthought, I'm not sure if you ever considered this one, but would there be a way you could add two more functions / useable commands to your restart option.  A "Stop" and "Start" function for when you might need to stop the server safely, do any changes you may need to do since some config options sometimes need to be done during these times like, changing a server name after wiping, or

[2018-05-19 00:25] Dateranoth commented on #41
I’m not exactly sure what you’re wanting.  You can safely stop the server now. If you right click on the icon in your system tray ( I use the icon from our site. A little grim reaper )

You can Pause the script. It will stop wherever it is at and not do anything else.

You can Exit the script. This will prompt if you want to safely shut the server down. If you select yes it will close the server.

[2018-05-19 00:50] smooreace commented on #41
Im not getting the complexity either... I've literally NEVER had a need to stop the server for anything other than updates. If changes need to be made to the config, or startup .bat, then make the edits, save, and restart. There is literally ZERO need for the server to be offline while making changes!

[2018-05-19 01:14] Dateranoth commented on #41
I believe he may not have realized you can cleanly stop the script without killing the process. It does get hidden if your system tray icons hide by default.

The feature to leave the server running while closing the script is included so you can update the script INI, upgrade to the latest script version, or just stop using he script without restarting the server. You do have to close then reopen

[2018-05-19 02:30] Dateranoth commented on #41
Feature Added in [3.2.0](https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/3.2.0)

Please open a new ticket if you have any further requests or problems! You can also reach me on Discord by the same user name. Enjoy!

[2018-05-19 02:30] #41 closed, assigned to Dateranoth

[2018-05-19 15:17] smooreace opened #44 "Server not actually updating"
I have no idea when this started as a problem. Last time anyone was on my servers was the 11th. So Im assuming some time after that. Server restarts have been happening as they should. Restarts for updates are happening too. When prior to the server start, the check is made to update the server. Both of mine were showing "up to date" and moving on to load the server. I ran my own update batch toda

[2018-05-19 15:38] Dateranoth commented on #44
So, showing up to date, but they actually were an older version?

Did the servers actually ever restart? If so steamcmd should have ran before the server started even if it was. Now, mods will only update if they find a new version. Do you mind sending me your utility logs from the servers?

dateranoth@hotmail.com

[2018-05-19 15:50] Doorstop2 commented on #44
Its using the wrong folder i had the same issue see i used the very early version of this utility in early alpha days now for some reason the old dir was still being created the dir i set in the cfg was wrong when steamcmd would update but the launching part was using the correct folder.

So my server was suppose to be in c:\Games\conan exiles\vendor\server
but instead when it was updating only ga

[2018-05-19 16:01] Dateranoth commented on #44
Doorstop2, if you want to send me your logs I can take a look at them too.

Also, could you both remove personal details and send me your Utility INI so I can reproduce the problems?

I have a feeling something in the INI didn’t update after one of the utility updates.

My first thought would be for you to delete the INI and let the utility create a new one. I’ve made a lot of changes lately thoug

[2018-05-19 16:20] Doorstop2 commented on #44
alright sent to your email the dirs in the ini is the new ones i set but you will see in the older logs i had another dir which was supposed to stay the same  also its 64bit

[2018-05-19 16:42] Dateranoth commented on #44
Ok, I think I see what's going on. SteamCMD doesn't like the spaces in the old directory. Let me see if I can quote the directory so this isn't a problem.

[2018-05-19 17:51] Doorstop2 commented on #44
oh? really so is this new dir working correct like will the server auto-update correct now?

and is this message **Something went wrong retrieving Latest Version**
normal?

[2018-05-19 17:53] Dateranoth commented on #44
No, it's still not going to auto update correctly because of the spaces in the steamcmd dir. I'm working on the fix right now. Should have a release out in about an hour. I have the changes made, but I'm running tests to make sure they work.

[2018-05-19 17:57] Doorstop2 commented on #44
oh ok thanks 👍

appreciate it.

[2018-05-19 18:52] Dateranoth commented on #44
@Doorstop2
Your problem should be remedied in [V3.2.1](https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/3.2.1)

Please download the latest version and give it a shot. You should be able to return to the directory structure you desire.

@smooreace
I still need some more information for yours.  You might start by deleting the appmanifest_443030.acf file from your Conan server dire

[2018-05-19 18:57] Doorstop2 commented on #44
ok thanks will do.

[2018-05-19 19:38] Doorstop2 commented on #44
Ok i think its fixed

Update Check Starting.
Server is Up to Date. Version: 2783891
Checking for Mod Updates

no longer getting the something went wrong error

[2018-05-19 19:43] Dateranoth commented on #44
Great. That bug has to have been around from the beginning. Surprising no one else has used spaces in directories. Thanks for bringing it to my attention, and I’m glad it’s working for you.

Hopefully it will properly grab the next real update as well.

[2018-05-19 19:48] Doorstop2 commented on #44
Np man.

It does seem to be working correctly now will see next update 😄

[2018-05-19 20:27] smooreace commented on #44
Sorry for the delay, Ive been building a transmission all day. I can send you all of that. Where should I send it?

I use separate steamcmd files for each server. A habit I got into years ago!

Yes... steamcmd is opening prior to the server starting. And yes, it is restarting every day. I even tried CTRL-Cing the servers to allow the script to take over and restart... steamcmd pops up to update...

[2018-05-19 20:36] smooreace commented on #44
And no... both servers are totally independant of each other.

Here is the log from one server. They both basically look the same. The mod update worked fine... Its Pippi.
https://pastebin.com/0iNB2TGR

[2018-05-19 20:42] smooreace commented on #44
Again.. both servers are nearly identical.... but here is one ini file

https://pastebin.com/Ns28Zijm

[2018-05-19 22:51] Dateranoth commented on #44
@smoorace
Ok, it looks like you have the same problem Doorstop was having. You have spaces in your path.

It’s odd that it use to work for you. Maybe something changed with steamcmd?

If you are seeing this:
Something went wrong retrieving Latest Version

the update check isn’t working properly.

Anyhow, download the latest version, and it should work. It probably has installed a separate server i

[2018-05-20 00:25] smooreace commented on #44
Funny... kinda

It created a folder on C:    Game_Servers

And in is is a complete steamcmd install. But thats all. 33.9MB total size

[2018-05-20 00:26] smooreace commented on #44
And I havent done anything to the Conan servers in months other than add your script and one update prior to todays script update.

[2018-05-20 01:08] Dateranoth commented on #44
Yeah.  Very odd. I’m thinking that for some reason, Steam CMD stopped liking directory names with spaces without quotes.

Let me know if the latest version works properly for you.

[2018-05-25 12:17] 5tardu5t opened #45 "TCP Error"
Getting error when launching the (ConanServerUtility_x64_v3.2.1.exe) - Could not bind IP [xxx.xxx.xxx.xxx] Check server IP or disable Remote Restart in INI.
The server is being setup on a hosted dedicated server, and I have entered the servers correct and only IP address. I changed the ConanServerUtility.ini from BindIP=yes to BindIP=no, as the server only has 1 WAN IP address, so I can only assum

[2018-05-25 13:27] Dateranoth commented on #45
Ok. This could be a couple of issues. Make sure the remote restart port is unique and not in use by any other application. It should be different from all other ports in the INI.

The IP you are using should be the Servers local IP unless your server is directly connected to the internet with an outside IP. cmd>ipconfig .

If that still doesn’t work try this: Set BindIP=no
Set IP in ini to 127.0.0

[2018-05-25 14:36] 5tardu5t commented on #45
Dateranoth, thanks so much for the fast response. Tried all of it and was still getting stuck - firewall is off also and yes IP is directly connected. The port is definitely not being used, just chose a random port number, but thought what the hell, lets change it anyway, was something like (47001). Changed and started server straight away - no errors now. So no idea why it didn't like that port,

[2018-05-25 15:47] #45 closed, assigned to nobody

[2018-05-25 18:38] Dateranoth commented on #44
I’m assuming this is working now as I have had no other reports. Closing. Start a new one if the problem returns.

[2018-05-25 18:38] #44 closed, assigned to Dateranoth

[2018-05-25 20:51] Dateranoth commented on #45
Hard to say why it didn’t like that port. Glad to help!

[2018-05-31 16:03] JessyCat92 opened #46 "Mod download is not working"
Hey there,
firstly thanks for that tool. Now I wanted to try to use the modlist feature and added there some random mods. But the server is not using them. So I had a look into logs and saw that they are not downloaded.

Here logs:
[code]

[2018-05-31 21:45] smooreace commented on #46
What is in the ini file?

[2018-05-31 21:48] smooreace commented on #46
And whats in the modlist.txt

[2018-05-31 22:07] JessyCat92 commented on #46
ConanServerUtility_modid2modname.ini and modlist.txt are not existing

[2018-05-31 22:48] Dateranoth commented on #46
Did the mods already exist on your server? Does the app have access to the web to access steams web app info?

Specifically these pages:
https://steamcommunity.com/sharedfiles/filedetails/changelog/861928199

I’ll run tests with those mods when I get home.

Also the utility needs read And write access to the steamcmd folder.

[2018-05-31 23:12] JessyCat92 commented on #46
They do not exist just the Mod directory was created. In general I disabled Firewall for testing and startet the tool also as admin.

[2018-05-31 23:16] Dateranoth commented on #46
Can you send me the full log from when you enabled it? I think you have an existing app manifest.

Does this file exist in Steamcmd or sever directory?

steamapps\workshop\appworkshop_440900.acf

[2018-05-31 23:20] JessyCat92 commented on #46
The file does not exist :(

All logs that I still have are:
[code]

[2018-05-31 23:27] Dateranoth commented on #46
Ok. Try this for me. Copy the utility and INI to a new folder. Open the ini and change the steamcmd and server directories to something new. Doesn’t matter what. Let it run until the server starts then close the utility and send me the log.

dateranoth AT hotmail.com

[2018-05-31 23:40] JessyCat92 commented on #46
I send logs of the new folder including the ini file to your email address

[2018-05-31 23:59] Dateranoth commented on #46
Got it. I’ll use it and run tests on my end. I don’t see anything out of the ordinary in the logs. You could browse to that steam link above correct?

[2018-06-01 00:07] JessyCat92 commented on #46
yes, I can. I mean it asks "Community content of this product may not be suitable for all ages or for viewing at work."

[2018-06-01 00:10] Dateranoth commented on #46
Hmm. I wonder if that’s what is hanging it up. I’ll look into it. It’s very possible that the prompt is keeping it from accessing the page it needs to.

[2018-06-01 03:01] Dateranoth commented on #46
So, I just ran some tests. I am not having problems with those mods on my end.
I wrote a debugger to see if we can figure out why it isn't working on yours. Source is included.
Place it in the same directory as the Utility, run it, check the logs, and send them my way. Thanks.

[ConanServerUtilityModUpdateDebug.zip](https://github.com/Dateranoth/ConanExilesServerUtility/files/2060833/ConanServerUt

[2018-06-01 10:12] JessyCat92 commented on #46
done

[2018-06-01 13:07] Dateranoth commented on #46
Something on that machine is blocking the download. It uses windows internet explorer to run the download. Can you open up the link above in internet explorer on the server machine?

I’m not sure why it’s blocking, but it has to be something on that machine not allowing the script to use IE to download the URL.

There is another method to retrieve the files. I will see if I can write something for

[2018-06-01 13:36] smooreace commented on #46
Maybe this isnt the best place to ask this... but how are you using IE to download a mod? There are HUGE issues with automated processes in Ark. Your IE method MAY be the solution!

[2018-06-01 13:46] Dateranoth commented on #46
It’s a method built into AutoIT INetGet. I think it uses windows dlls to perform the task. You can also use winhttp.dll I think. I was looking at one that someone already put together as an add on script for autoit.

[2018-06-01 15:33] smooreace commented on #46
All greek to me! I guess I asked a question way out of my league!

[2018-06-01 15:42] Dateranoth commented on #46
@smooreace shoot me a message on Discord or email. Maybe we can go over the issue.

@geramy92
I will try to throw together a different debug test tonight, but I am out of town next week.

[2018-06-02 00:23] smooreace opened #47 "Steam running check not working"
Since your latest update Ive had this a time or two. Seems to only happen with mod updates though. Not with my daily server restarts

https://gyazo.com/ca113d0f2b65af97fe31dfb98bd24cff

The check is enabled in the INI for both servers, and both are hung on restart

[2018-06-02 09:03] Dateranoth commented on #47
This is a problem when you have steam open on the same machine you are running the server.

I already have an attempted fix built in to the script. It tries to close the error pop up when it sees it. It usually works, but sometimes it will miss the pop ups.

Set SteamFix=yes

[2018-06-02 14:25] smooreace commented on #47
Ya.. it seems to work fine on normal restarts. and game updates. But has failed every time on restarts related to mod updates.

[2018-06-02 15:11] Dateranoth commented on #47
It must be coming up more than once. I can add some other checks. I will have to think and see if there is a better way to check for it. Is there any reason you have to run Steam on that machine?

[2018-06-02 15:25] smooreace commented on #47
I dont know how you have that check implemented, obviously, but maybe delaying it some period of time, or longer, would do the job.

Having Steam running helps with server visibility for the 9 Ark servers running on that machine. they are already hard to find at times. Without Steam, they are almost always MIA.

[2018-06-02 15:27] smooreace commented on #47
It's not a HUGE big deal to me... I get notifications if the servers are down for more than 60 seconds anyway. So it's not like I'm getting any real downtime from it most of the time. But people that run more mods will have far more potential for issues.

[2018-06-02 15:49] Dateranoth commented on #47
Makes sense. I’ll see what I can do when I get back.

[2018-06-07 14:49] Dateranoth commented on #47
When the error comes up, does the server window show the server name for a title or the path to the executable as a title?

[2018-06-07 15:55] Dateranoth commented on #47
@smooreace This should take care of the problem. Give the latest release a go and let me know.

https://github.com/Dateranoth/ConanExilesServerUtility/releases/latest

[2018-06-07 16:17] smooreace commented on #47
Sorry I didnt answer. Was going to tell you that this morning, for 2 servers, I had 9 steam popup errors to close to get the server to start. Not sure of what the processes are displaying when it happens. Will test the old version now to let you know.

[2018-06-07 16:23] Dateranoth commented on #47
9? Dang. I wonder what’s different. I am currently checking for three per start, and I never saw more than two on my test rig.

The next step would be to add it to a continuous check loop. Look for it every 5 minutes or so.

Are they coming up one after another or do you get a long delay in between?

If this doesn’t work for you let me know and we will reopen. If you can get an idea of the maximum

[2018-06-07 16:27] smooreace commented on #47
There were 4 popups before the server process showed at all. I had to close 3, your script caught 1.

So after those 4 are closed ser server get to this point..
https://gyazo.com/31e6a8579442c7245ecb1828e164fad1

I closed ONE additional popup and one server moved forward, getting to this point...
https://gyazo.com/4d3846d8a13813849feb4afcf7dd936d
I THINK that server is live now.

Still have at lea

[2018-06-07 16:28] smooreace commented on #47
Ill test the new script now.... give me a few minutes. I have contractors tearing out concrete ATM and I need to babysit

[2018-06-07 16:32] smooreace commented on #47
It looks like that caught all of them. Both servers did their update chack and appear to be moving all the way to live status now. I only SAW 2 popups. The other had to have closed faster tha I could see

[2018-06-07 16:34] smooreace commented on #47
Just as an FYI, I use Battlematrix.com to get notifications pushed to me for all of my 27 servers. Any time any of them are down for more than 10 minutes I get a text. VERY handy!!

Thanks for nailing this issue thought! Great work!

[2018-06-07 16:36] Dateranoth commented on #47
Ok great! I do perform a while active loop on each iteration so it could hit multiple windows if they come up fast enough.  Keep an eye on it, but I will probably add a safety check to the next release just to make sure. Check for and close the window if it exists still after each 5 min check.

I’ll have to check into that service.

[2018-06-07 16:51] smooreace commented on #47
Great... Ill update here daily to let you know. My servers are only running Pippi. Not sure if mod count has anything to do with timing, or anything else.

[2018-06-07 18:15] Dateranoth commented on #47
I don’t think that it does, but I hadn’t really researched it since pre release. When I first implemented it, it would appear twice then go away. I was thinking about it, and I can also make it configurable if necessary.

So you could select how many windows you anticipate waiting for.

I also wonder if it makes a difference if multiple servers restart at the same time.

Regardless, I’m pretty sur

[2018-06-07 19:10] smooreace commented on #47
For my morning restarts I have them offset by an hour. But mod updates end up hitting within a minute of each other.

[2018-06-07 19:42] Dateranoth commented on #47
I need to look and see if I can determine window by primary process. I’ve been looking at C# and I know it’s possible through that, but I’m not sure about autoit. It should be, I just need to look into it a bit more. It wouldn’t be a problem at all as long as each utility is closing the window for its process.

Still, as crazy as it is, it has done pretty well at supporting multiple servers.

[2018-06-08 12:08] smooreace commented on #47
This morning I was met with..
https://gyazo.com/8a863e6bb056e6bb3a2aed2b3290d8b6

Yesterday in my testing I did a CTRL C to each server to shut them down. Tested twice and both times it worked fine. Now this morning its back to the same antics. Not sure what to tell ya!

I had to eventually close 4 popups total. 3 for the top server and 1 for the lower

[2018-06-08 14:25] Dateranoth commented on #47
I’m on the road today. I’ll see if I can add the continuous check tonight.

[2018-06-08 14:35] smooreace commented on #47
No problem. Just wanted to give you an update. Thanks

[2018-06-08 20:59] Dateranoth commented on #47
Thanks for the updates. I’m not going to make the full trek today so I may not get to it. I’ll have something worked up by tomorrow night at least.

[2018-06-08 22:12] smooreace commented on #47
Again... no biggy! Just getting you the info. What I have now is FAR more functional than having nothing at all!

[2018-06-10 18:23] Dateranoth commented on #46
@geramy92
Sorry this took so long. I have been out of town. Here is a different debug tool. Try it and send me what it generates. It uses a different method to connect get the mod information.
[ConanServerUtilityModUpdateDebug.zip](https://github.com/Dateranoth/ConanExilesServerUtility/files/2088121/ConanServerUtilityModUpdateDebug.zip)

[2018-06-10 19:09] #47 closed, assigned to nobody

[2018-06-10 19:13] Dateranoth commented on #47
@smooreace
This will finally work. I added a continuous check for the window. If steamfix is enabled, the utility will always look for that window and close it. It doesn't differentiate between servers, so one utility may close the window of another one, but I don't think it will be a problem.

https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/3.2.3

[2018-06-10 22:29] smooreace commented on #47
Great... Didnt get a chance to test the last version. It seemed to act totally different if I killed the servers from when the script killed the servers for a restart. So I had to wait for a real scheduled reboot.

[2018-06-11 11:45] smooreace commented on #47
OK... That latest update definitely took care of the steam popups.... but not until I brought the RDT window to the active window. RDP connection is always connected but minimized. As soon as I clicked it both Conan servers started buzzing along their load process. BattleMatrix confirms 1 and 2 hours downtime corresponding to the 1 hours separation in the servers restart time.

[2018-06-11 13:01] Dateranoth commented on #47
That’s very strange. So, it worked, but not until you activated the RDP session?

If you check your logs, do your servers always say they had to be killed and did not shut down gracefully?

I’m beginning to think that your system blocking the script actions when RDP is minimized. AutoIT relies on emulated key presses. So, I’m wondering if the system disables something if it can still perform the f

[2018-06-11 13:22] smooreace commented on #47
That makes perfect sense. And explains some of the tests that have strangely been successful while others failed. It all depended on my being busy with other things or not. I run through the link... I was missing this one      HKEY_CURRENT_USER\Software\Wow6432Node\Microsoft\Terminal Server Client

Created it and the DWORD entry. Not sure if it will actually work or not. Ive done a lot of registry

[2018-06-11 13:51] smooreace commented on #47
First test failed. But I didnt restart the RDP session. Restarted both servers again and killed the RDP session. Servers hung, I assume waiting for a window to be closed.
Opened the RDP session and it had 2 popups open... but both in the background. So your script wasnt seeing them to close them. As soon as I made the popup the active window it closed and moved on.

Shut down both servers again an

[2018-06-11 13:53] smooreace commented on #47
The easiest solution is probably to leave the RDP session as the active window when I crash at night, and adjust my restart times so Im awake. Just in case there is an issue. Thanks for all your work on this!!

[2018-06-11 14:07] Dateranoth commented on #47
Yeah, or grab a RDP manager and just close the RDP sessions.

Here is another registry instruction. One might have been for 64/32 bit.

https://robot.uipath.com/docs/executing-tasks-in-a-minimized-rdp-window

Glad to help!

[2018-06-11 15:06] smooreace commented on #47
I never messed with an RDP manager because I just deal with 3. But that seems to have solved everything.

[2018-06-11 15:44] Dateranoth commented on #47
Fantastic! Let me know if you need anything else. I have a few features I want to add in now that the bug hunts are dying down.

[2018-06-14 12:55] FightzGamer opened #48 "Running from Asus ROG RamDisk"
Hello,

So i love this utility but i ran in to a strange problem. I have moved my Conan server to a Ramdisk, to get max performance out of it. I works like a dream when i start the server with the normal .bat file.

However, when i try to run the server with the Utility it gets stuck right before the server open up and just stalls the conan server. The icon is also missing in the task manger of my

[2018-06-14 16:28] Dateranoth commented on #48
Can you send me your log files from the utility after it stalls, your INI settings as well?

Does steamcmd finish running before it hangs?

[2018-06-14 17:46] smooreace commented on #47
Several days in and still working great. Thanks again for your help!

[2018-06-14 21:26] Dateranoth commented on #47
Glad to help!

[2018-06-15 07:54] FightzGamer commented on #48
Yeah, steamcmd runs first and finishes then it loads the server console and stalls at the end of that.

[ConanServer1_Ramdisk_test.zip](https://github.com/Dateranoth/ConanExilesServerUtility/files/2105232/ConanServer1_Ramdisk_test.zip)

I have also send you the conan server log, i was able to do the ctrl+c to shut it down. I'm wondering why i could do that, when the server was stalled.. It might b

[2018-06-15 10:19] Dateranoth commented on #48
I’m not sure. The utility gets everything to the point that it starts the server and logs the window handle. It’s possible that it’s a permission problem. Did you copy the server over or did you let the utility use steamcmd to download a new copy?

If not then try clearing the ram disk storage and starting with a fresh install with basic settings.

I will run some tests with the RAM disk tonight t

[2018-06-15 11:44] FightzGamer commented on #48
Okay, thanks for helping.

This is the download link for the Asus ROG Ramdisk download. http://dlcdnet.asus.com/pub/ASUS/mb/Utility/RAMCACHE_II_Win10_V10506_20170822.zip

They call it Ersion RAMCACHE 2 for some reason.. took for ever to find the download link again.

All you have to do is to install it, restart and then make a drive. Just make sure to give it enough space, 8 Gb should be fine. The

[2018-06-17 01:33] Dateranoth commented on #46
I'm going to assume you figured this out or went on to a different utility by now. Sorry I couldn't help. Reopen if you need any other assistance.

[2018-06-17 01:33] #46 closed, assigned to nobody

[2018-06-17 01:40] Dateranoth commented on #48
I don't have the proper hardware apparently, so I can't test it. Sorry.  Can you start the ram cache from a command line? If so, you might try using launch external app feature of the utility to start it right before the server starts. I'm wondering if the utility is modifying something it shouldn't for the ramcache before the game actually launches.  Alternatively, you could try disabling everyth

[2018-06-17 01:55] smooreace commented on #48
Im betting it has a lot to do with this... "Do not put stuff on the ram drive it self. It will not save changes if you do."

If the server is running from the RAM drive, the utility should be looking to the executable running from that RAM drive to verify that its running, and react accordingly. If you cant actually access the RAM drive directly then you will never successfully get an automatic up

[2018-06-18 11:13] FightzGamer commented on #48
I have found the issue, it was the file rights on the ram drive.

You where absolutely right about rights not being set correctly.

yes, you need to use the junction and not put files on the drive. I learned that the hard way.

This issue is fixed. thanks for the help :-)

[2018-06-18 21:06] Dateranoth commented on #48
Glad you figured it out! Let me know if any other problems come up.

[2018-06-18 21:06] #48 closed, assigned to nobody

[2018-06-19 14:46] smooreace opened #49 "New Daily/Hourly Restart issue"
The new restarts options aren't taking properly. It's not a big deal particularly. Both of my servers restarted, then warned everyone, and came back up fine. Just didn't follow the rules I created... unless Im a total retard and did something stupid that I cant see.

https://gyazo.com/07d032686bf65fdf5d0f66a7b1eef8be

https://gyazo.com/65d1623d5a0f7d8e2bf90c74a77c8349

[2018-06-19 16:48] Dateranoth commented on #49
Hmm. Can you send me the log for those times? Also, are you running beta.2? I had a bug in .1

Your server is running in the same time zone right?

[2018-06-19 16:53] Dateranoth commented on #49
Actually, neither one of those should have restarted today. You don’t have Tuesday selected for either one.

Unless you’re way ahead of me, and even then only one would have restarted.

[2018-06-19 17:39] smooreace commented on #49
Im in Kansas... no clue where you are. And yes.. they are on the same machine. Gathering logs now.

[2018-06-19 17:39] smooreace commented on #49
Just realized that it might have been the Conan update that did it.

[2018-06-19 17:44] smooreace commented on #49
Thats exactly what it was... sorry!
[code]

[2018-06-19 17:44] smooreace commented on #49
Wow... that pasted TERRIBLY!

[2018-06-19 20:41] Dateranoth commented on #49
Haha. Yes it did. Let me know if it restarts tomorrow when it should. In KY btw.

[2018-06-20 05:09] smooreace commented on #49
OK... the PVE server is trying to restart now... Its currently midnight on the 20th.  Heres the config

[Restart Server Daily? yes/no]
RestartDaily=yes
[Daily Restart Hours Comma Seperated 0=Everyday Sunday=1 Saturday=7 0-7]
RestartDays=1,4
[Daily Restart Hours Comma Seperated 00-23]
RestartHours=4
[Daily Restart Minute 00-59]
RestartMinute=00

And the log entry

Bot in Use. Delaying Shutdown for

[2018-06-20 05:11] smooreace commented on #49
So basically its ignoring the hour setting.

[2018-06-20 05:50] Dateranoth commented on #49
Bleh. I think I see what it is, but I need to run a test or two. It may still restart at 4 as well. It hadn’t tried to restart every hour has it? I’ll try and get it fixed tomorrow.

[2018-06-20 07:48] smooreace commented on #49
No biggy! I was just letting you know.

[2018-06-22 05:24] smooreace commented on #49
Another update... Restarts are stupid! The config settings are above. This is the PVP server BTW
https://gyazo.com/5e8da033069cbd15cbcd0c72284d8310
Log entry pertaining to the restart

2018/06/22 00:00:00 [The Tropolis Collective 5xAll -RPLite-[PVP] (PID: 7072)] Bot in Use. Delaying Shutdown for 5 minutes. Notifying Channel
2018/06/22 00:00:01 [The Tropolis Collective 5xAll -RPLite-[PVP] (PID: 707

[2018-06-22 10:14] Dateranoth commented on #49
Yeah, it’s definitely broke right now. You can roll back to the last full release if you need it. I still think I know what it is, but I’ve been so busy I haven’t had time to sit down and fix it. Yesterday was a 16 hour day at work alone.

I will try to get to it by this weekend. Thanks for the update!

[2018-06-22 14:42] smooreace commented on #49
It's not a problem... the great thing is that it's still updating like it needs to, and restarts are at a safe time. Just cant guess as to what days they might happen.

[2018-06-24 14:58] Dateranoth commented on #49
I finally got around to working on this. This version should work.
https://github.com/Dateranoth/ConanExilesServerUtility/releases/tag/3.3.0-beta.3

[2018-06-26 01:34] smooreace commented on #49
That did the trick! Thanks again for the work!

[2018-06-26 03:29] Dateranoth commented on #49
No problem! Would go a lot better if I would get it right the first time. Haha. I’ll push it out of beta when I can.

[2018-06-26 03:29] #49 closed, assigned to nobody

[2018-07-14 14:02] mandre00 commented on #46
FYI the problem is the download via http you should change it to https in

[code]

[2018-07-14 14:20] smooreace commented on #46
@mandre00 The problem was solved a long time ago. And updates work perfectly now. If you personally have a new issue I would recommend opening a new trouble thread. @Daternoth is INCREDIBLE at getting real problems addressed quickly and efficiently!

[2018-07-14 14:53] mandre00 commented on #46
@smooreace hm it's interesting because i pulled a copy and the mod installation didn't work, but anyways if it works for you it's fine.

[2018-08-02 14:21] smooreace opened #51 "A new shutdown bug"
This one seems to have been triggered by the server update or in some way related to an internet outage.

Ititial windows I woke up to
https://gyazo.com/6eb998d3cf4b1c83e3031ea61866e5ea

And after hitting OK I got this.
https://gyazo.com/6c3c323704d4662189d5e2e31a4b7899

After that everything seems to be running fine

[2018-08-02 14:26] smooreace commented on #51
I lied... servers shut down as I expected, but never came back up. It appears that the first OK selection shut down your utility

[2018-08-02 21:19] Dateranoth commented on #51
Can you send me your log file? Is it working correctly now?

On Aug 2, 2018, at 10:27 AM, smooreace <notifications@github.com<mailto:notifications@github.com>> wrote:

I lied... servers shut down as I expected, but never came back up. It appears that the first OK selection shut down your utility

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view

[2018-08-03 03:40] smooreace commented on #51
Here is that part of the log..

https://pastebin.com/G1QpPygk

[2018-08-03 03:43] smooreace commented on #51
And yes... It ran fine once I continued past it. Wont know if its a repeat issue until I get another game/mod update

[2018-08-03 10:39] Dateranoth commented on #51
I’m trying to determine if it was a fluke or not. It is most likely how I am checking for updates. I have to parse through the text and I’m using array splits. I thought I was checking to make sure the array was valid, but I might have missed a check. If the information downloaded properly it shouldn’t happen. I’m thinking maybe something changed or went wrong on the mod side.

Let me know if it h

[2018-08-03 12:02] smooreace commented on #51
No problem... totally understand! As always, just trying to get you info, NOT complain! Even if this only worked 50% of the time it would be a 50% reduction in MY workload! So a crash from time to time is definitely not hurting anything.

My only mod was updated last on the 27th, so it was definitely the game update that triggered the issue.

Thanks for the great work!!

[2018-08-04 17:03] Dateranoth commented on #51
That helps. I can look into the update code this way. My best guess is the file wasn’t downloaded from steam command properly, and then it tried to parse something that wasn’t there. I’ll take a look when I can. Just keep me posted if the next update works or not. Thanks!

On Aug 3, 2018, at 8:02 AM, smooreace <notifications@github.com<mailto:notifications@github.com>> wrote:

No problem... totall

[2018-08-13 15:52] smooreace commented on #51
Just another update...

Conan update last night/this morning went fine. Servers updated as needed and came back up perfectly. Maybe the issue was just a fluke.

[2018-08-17 10:45] Dateranoth commented on #51
I’m guessing it was something that went wrong downloading the update information. I  thought I was checking for empty arrays properly, but I probably missed something. Hopefully it was just a fluke.

On Aug 13, 2018, at 11:52 AM, smooreace <notifications@github.com<mailto:notifications@github.com>> wrote:

Just another update...

Conan update last night/this morning went fine. Servers updated as n

[2020-04-04 23:25] chinagreenelvis opened #52 "Any way to have this work on a rented server?"
I'm leasing a Conan Exiles server from G-Portal. Most of the operations are done through their web interface, but I also have FTP access. Is there a way to get this utility functioning for it? I'm particularly interested in the mod-updating feature.

[2020-04-04 23:46] Dateranoth commented on #52
Not unless G-Portal admins allow you to run a different executable on server start or access the machine directly.  You would need to contact them to confirm. I thought some of their games supported automatic mod updates. May be worth requesting to them.

On Apr 4, 2020, at 7:26 PM, chinagreenelvis <notifications@github.com> wrote:

﻿

I'm leasing a Conan Exiles server from G-Portal. Most of the o

[2020-04-09 19:30] chinagreenelvis opened #53 "Mod error detection?"
So I'm looking more and more to migrating to a local server and using this, but my latest problem with my rented server turned out to be an issue with a mod that was updated; Savage Steel was screwed up by an update and refused to load. Problem is that the server still restarted, only without the mod, which caused items that had been placed on top of Savage Steel assets to be destroyed.

Can this

[2020-04-09 20:34] Dateranoth commented on #53
First. I would suggest downloading it and testing it. I have not updated it in a long time, and I do not currently use it. It should still work, but updates to Conan could have broken it.  I will support it where I can, and try to fix it, but I haven't had a lot of time to do so.

With that said, there is no built in way for me to know that a mod did not load. There is also no built in save featur

[2020-04-11 06:38] chinagreenelvis commented on #53
Wrote an AHK script that backs up the save on restart. Works great.

[2020-04-11 11:51] Dateranoth commented on #53
Awesome. Glad you were able to make it fit your needs.

[2020-04-11 11:51] #53 closed, assigned to nobody

[2020-04-11 11:51] #52 closed, assigned to nobody

[2020-04-11 11:54] #51 closed, assigned to nobody